<h1>Listing topics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<%
  Date::civil()
  @topics.each do |topic| %>
  <tr>
    <td><%=h topic.title %></td>
    <td><%=h topic.description %></td>
   <td><%= render :partial => 'button', :locals => {:topic => topic} %></td>

<td><%=h topic.votes.count %> votes. </td>

<td>
Voted on: 
<%=h Date::DAYNAMES[topic.created_at.wday] %>,
<%=h Date::MONTHNAMES[topic.created_at.month] %> 

<%
def ordinalize(number)
     if (11..13).include?(number.to_i % 100)
       "#{number}th"
     else
       case number.to_i % 10
         when 1; "#{number}st"
         when 2; "#{number}nd"
         when 3; "#{number}rd"
       else    "#{number}th"
     end
  end
end
%>
<%=h ordinalize(topic.created_at.mday) %>

</td>
<td>

</td>    
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New topic', new_topic_path %>
